
.ipynb_checkpoints
.DS_Store
__pycache__


# data
/data/in_progress

# code that probably isn't going to work out
/purgatory

# models
/models/early_models
/models/.DS_Store

# notebooks
/notebooks/Dash test (don't add).ipynb
/notebooks/lessons_learned.ipynb
